POSTGRES_USER=TU-USUARIO-AQUI
POSTGRES_PASSWORD=TU-CONTRASEÑA-AQUI
POSTGRES_DB=TU-BASE-DE-DATOS-AQUI
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
OPENAI_API_KEY=TU-CLAVE-DE-API-AQUI
UBICUO_EXCEL_PATH=./data_sample/Indices CIIU 3_2019-2022.xlsx